body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
}

h1 {
  text-align: center;
}

.board {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.column {
  background: #fff;
  width: 25%;
  padding: 10px;
  border-radius: 8px;
}

.card {
  background: #e3e7ff;
  padding: 10px;
  margin-bottom: 8px;
  cursor: grab;
  border-radius: 5px;
}
